body {


  &#connect{
    aside#menu-admin{
      display: none;
    }
    .wrapper_content{
      margin: 0;
    }
  }

  .vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .wrapper_connect {
    position: fixed;
    width: 100%;
    text-align: center;
    height: 100%;

    .wrapper_input {
      margin-bottom: 20px;
    }

    .wrapper_logo {
      position: absolute;

      .logo {
        width: 400px;
      }

      margin-left: -500px;
      margin-right: 100px;
    }
  }

  aside#menu-admin {
    #menu-nav-admin {
      .sub-menu {
        margin-bottom: 20px;

        li {
          margin-left: 0;

          a {
            text-transform: inherit;
            line-height: 20px;
          }
        }
      }
    }

  }

  .wrapper_list_items {
    > ul {
      padding: 0;
      margin: 0;

      > li {
        padding: 9px 20px;
        list-style: none;
        text-transform: uppercase;

        &:nth-child(odd) {
          background-color: lighten(#212328, 0.2);
        }

        &.sub{
          padding-left: 40px;
        }

        .wrapper_action {
          float: right;

          ul {
            li {
              list-style: none;
              display: inline-block;
              margin-left: 30px;
            }
          }
        }
      }
    }
  }

  .wrapper_title {
    .wrapper_link {
      float: right;
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  .gal_cat{
    margin-left: 0;
    li{
      list-style: none;
      display: inline-block;
      .preview_img{
        min-height: 200px;
        background-position: center;
        min-width: 200px;
        background-size: cover;
        margin-bottom: 20px;
        margin-right: 20px;
      }
    }
  }

  .wrapper_content {
    margin-left: calc(18% + 50px);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;

    .preview_img{
      min-height: 300px;
      background-position: center;
      max-width: 600px;
      background-size: cover;
      margin-bottom: 20px;
    }

    form {

      .input {

        &:not(.date) {
          input, textarea, select {
            width: 500px;
          }
        }
        &.date {
           select {
            margin: 0 10px;
             width: auto;
             &:nth-child(2){
               margin-left: 0;
             }
          }
        }

        margin-bottom: 20px;

        input, textarea, select, option {
          padding: 10px 15px;
          box-sizing: content-box;
          font-size: 16px;
          border-radius: 0px;
          border: 0;
          background-color: #35383e;
          border-bottom: 1px solid #c5c5c5;
          color: white;

        }

        input[type="file"]{
          border: 1px dashed;
          padding: 20px;
          margin: 0;
        }

      }

      .submit {
        input {
          padding: 10px 25px;
          text-transform: uppercase;
          border-radius: 4px;
          background-color: #212328;
          color: white;
          letter-spacing: 1.5px;
          border: 0;
          background-image: none;
        }

      }
    }


  }

}