@media (max-width: 767px){

	footer .row > div{clear:both;} 
	.breadcrumbs {
	  width: 79%;
	  height: auto;
	  z-index: 999;
	  padding-left: 20px;
	  padding-right: 20px;
	  margin: 0;
  	  padding-bottom: 10px;
	}
}

@media (min-width: 1200px){
	.categories .span4 {
	  width: 255px;
	}
}